---
- name: Clean card build directory
  make:
    chdir: "{{ card_folder }}"
    target: clean
  ignore_errors: yes

- name: Build and upload generic card firmware
  make:
    chdir: "{{ card_folder }}"
  register: make_result

- name: Display card flash result
  debug:
    msg: "Generic firmware successfully flashed to card (ready for assignment)"
