---
api_url: "https://api.cashless.iut.valentinp.fr"
api_username: "admin"
api_password: "admin"
card_folder: "../card_software"
assign_folder: "../assignator"
socket_reader_folder: "../socket_reader"
card_comment: ""