---
api_url: "https://api.cashless.iut.valentinp.fr"
api_username: ""
api_password: ""

card_folder: "../card_software"
assign_folder: "../assignator"
card_comment: ""
socket_reader_folder: "../socket_reader"

dest_username: ""
dest_password: ""