---
- name: Start Socket Reader Server
  hosts: localhost
  gather_facts: no

  tasks:
    - name: Start socket reader
      block:
        - name: Start Flask-SocketIO server
          include_role:
            name: socket_reader

      rescue:
        - name: Display error message
          debug:
            msg: "Error starting socket reader server"

        - name: Fail playbook
          fail:
            msg: "Socket reader server failed to start"
